In [19]:
import numpy as np 
import pandas as pd
data = np.array([1,2,3,4])
data2 = np.random.randint(1,5,5)
print(data)
print(data2)

print(data.sum())
data2.sum()

data = pd.read_csv('dirtydata.csv')
data.loc[(22,['Date'])]='2020/12/22'
data.loc[7,'Duration']=99
print(data)

[1 2 3 4]
[2 1 4 4 4]
10
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         99  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45    2020/12/22    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [20]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [21]:
import numpy as np 
for i in range(1,np.random.randint(100)):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [23]:
for i in range(1,10):
    for j in range(1,10):
        print(i*j, end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [35]:
data = ['Apple','Banana','Anni','Airplane']
for i in data:
    if 'A' in i.lower():
        print(i)

In [47]:
data = ['Apple', 'Banana', 'Anni', 'Airplane']
for i in data:
    if 'a' in i.lower():  # Checks if 'a' or 'A' is in the string
        print(f"my favorite fruit is {i}.")

my favorite fruit is Apple.
my favorite fruit is Banana.
my favorite fruit is Anni.
my favorite fruit is Airplane.

In [ ]:
for vairable in range:
    #code block
while condition:
    #code block

In [50]:
data = ['Apple', 'Banana', 'Anni', 'Airplane']
index = 0

while index < len(data):
    fruit = data[index]
    for char in fruit:  # Loop through each character in the fruit name
        if char.lower() == 'a':  # Check if the character is 'a'
            print(f"{fruit} contains the letter 'a'")
            break  # Exit the for loop once 'a' is found
    index += 1  # Increment the index for the while loop

Apple contains the letter 'a'
Banana contains the letter 'a'
Anni contains the letter 'a'
Airplane contains the letter 'a'

In [60]:
import pandas as pd
x=['apple','banana','yellow']
print(len(x))
i=0
while i <len(x):
    if 'a' in x[i]:
        print(x[i])
    i+=1

3
apple
banana

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
i = 0
while i < len(x):
    if 'a' in str(x[i]):  # Convert the number to a string to check for 'a'
        print(x[i])
    i += 1

In [77]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
for i in range(len(x)):
    if x[i] % 2 == 0:
        print(x[i])

2
4
6
8
10
12
14

In [78]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
i = 0

while i < len(x):
    if x[i] % 2 == 0:
        print(x[i])
    i += 1

2
4
6
8
10
12
14

In [98]:
import pandas as pd 
data1 = pd.read_excel('expense3.xlsx', sheet_name='January')
data2 = pd.read_excel('expense3.xlsx', sheet_name='February')
print(data2.head())
print(data1.head())
data=pd.concat([data1,data2], ignore_index=True)
print(data.to_string(index=False))

        Date Category       Sub-Category   Amount Payment Mode
0 2023-02-01  Grocery  Fruits and Veggies     456         Cash
1 2023-02-02  Grocery                Milk      26          UPI
2 2023-02-03     Food          Restaurant     560          UPI
3 2023-02-04     Food  Fruits and Veggies     660         Cash
4 2023-02-05     Food              Zomato     400          UPI
        Date    Category Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery       Grocery      30         Cash
1 2023-01-02        Food    Restaurant     890          UPI
2 2023-01-04         123        Zomato     257          NaN
3 2023-01-06  Essentials         Diary     120          UPI
4 2023-01-06  Essentials       Perfume    1500         Cash
      Date   Category      Sub-Category   Amount Payment Mode
2023-01-01    Grocery            Grocery      30         Cash
2023-01-02       Food         Restaurant     890          UPI
2023-01-04        123             Zomato     257          NaN
2023-01-06 Essentials              Diary     120          UPI
2023-01-06 Essentials            Perfume    1500         Cash
2023-01-09    Grocery Fruits and Veggies     456         Cash
2023-01-10      Bills         House Rent   16000          UPI
2023-01-10    Grocery     Tomato KetchUp      70          UPI
2023-01-12       Food               Chai      15          UPI
2023-01-15 Essentials     Salt and Sugar      50          NaN
2023-01-17    Grocery          Chocolate     100          UPI
2023-01-17       Food         Restaurant     780         Card
2023-01-18 Essentials           Food Oil     120          NaN
2023-01-18       Food             Zomato     230          UPI
2023-01-19    Grocery               Milk      26          UPI
2023-01-20 Essentials            Shampoo     780          UPI
2023-01-20 Essentials          Lunch Box     890         Cash
2023-01-21    Clothes              Dress    1000          NaN
2023-01-22    Clothes              Dress    1890          UPI
2023-01-23    Grocery     Bread and Milk      56         Cash
2023-01-24       Food Fruits and Veggies     530         Cash
2023-01-26       Food               Chai      10          UPI
2023-01-26    Grocery              Maggi     140          UPI
2023-01-27       Food             Zomato     300          UPI
2023-01-27       Food               Chai      10          UPI
2023-01-28 Essentials          Bedsheets    1025         Cash
2023-01-29      Bills            Mobile     1650          UPI
2023-01-29    Grocery               Daal     150         Cash
2023-01-30      Bills           Cylinder    1074          UPI
2023-02-01    Grocery Fruits and Veggies     456         Cash
2023-02-02    Grocery               Milk      26          UPI
2023-02-03       Food         Restaurant     560          UPI
2023-02-04       Food Fruits and Veggies     660         Cash
2023-02-05       Food             Zomato     400          UPI
2023-02-06       Food             Zomato     200          UPI
2023-02-06    Grocery          Chocolate     100         Cash
2023-02-08    Grocery     Bread and Milk      56         Cash
2023-02-09    Grocery            Grocery      30         Cash
2023-02-10       Food         Restaurant    1200          UPI
2023-02-11 Essentials            Shampoo     780         Cash
2023-02-11 Essentials           Food Oil     120          UPI
2023-02-11 Essentials              Diary     120          UPI
2023-02-14 Essentials     Salt and Sugar      50         Cash
2023-02-15    Clothes              Dress    1890          UPI
2023-02-17    Clothes              Dress    1000         Card
2023-02-17      Bills         House Rent   16000          UPI
2023-02-18      Bills            Mobile     1650          UPI
2023-02-19      Bills           Cylinder    1074         Cash
2023-02-20    Clothes              Dress      10          UPI
2023-02-21       Food         Restaurant      15          UPI
2023-02-22 Essentials          Bedsheets    1025         Cash
2023-02-23    Grocery          Chocolate      70          UPI
2023-02-24       Food             Zomato     230          UPI
2023-02-25 Essentials            Perfume    1500         Cash
2023-02-15 Essentials          Lunch Box     890         Cash
2023-02-10    Grocery          Chocolate     150         Cash
2023-02-15    Grocery              Maggi     140          UPI
2023-02-23       Food         Restaurant     780         Card