In [1]:
import pandas as pd
oo=(0,1,2)
print(pd.Series(oo))

0    0
1    1
2    2
dtype: int64

In [4]:
import pandas as pd
oo=({"a":2,"b":3,"c":4})
print((oo))

{'a': 2, 'b': 3, 'c': 4}

In [12]:
import pandas as pd
ga=(1,2,3,4,5,6,7,8,9,0)
oo = pd.DataFrame({"a": ga, "b": g, "c": g})
print(oo)

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6
6  7  7  7
7  8  8  8
8  9  9  9
9  0  0  0

In [13]:
import pandas as pd
data = {"Name":['John','Mmika','Lika'],
       "Age": [25,3,3],
       "Salary":[300,232,325]}

df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25     300
1  Mmika    3     232
2   Lika    3     325

In [20]:
import pandas as pd
data = pd.read_csv("data.csv")
print(data.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [41]:

oo=pd.read_csv(r"C:\Users\Rahan\Datasets-main\Datasets-main\company.csv")
oo

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [9]:
import pandas as pd
data = pd.read_excel("expense3.xlsx")
print(data.isnull().sum())

Date             0
Category         0
Sub-Category     0
Amount           0
Payment Mode     4
dtype: int64

In [22]:
import pandas as pd
data = pd.read_excel("ESD.xlsx")
print(data.isnull().sum())

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        915
dtype: int64

In [23]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB
None

In [39]:
import pandas as pd 
data = pd.read_csv('company1.csv')
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [38]:
import pandas as pd 
data = pd.read_csv('company1.csv')
print(data["EEID"].duplicated())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7     True
Name: EEID, dtype: bool

In [40]:
print(data.drop_duplicates("EEID"))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [49]:
import pandas as pd 
data =  pd.DataFrame({"Name":('Bia','Tia','Sia'),"Age":(25,35,21),"Place":('India','Pakistan','India')})
print(data.isnull().sum())

Name     0
Age      0
Place    0
dtype: int64

In [50]:
import pandas as pd
data = pd.read_excel("ESD.xlsx")
print(data.isnull().sum())

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        915
dtype: int64

In [57]:
import pandas as pd
data = pd.read_csv("company1.csv")
a=(data['gender'].fillna('G'))
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [60]:
import numpy as np
print(data.replace(np.nan, 30000))

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali  30000  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     30000      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [62]:
data['salary']=data["salary"].replace(np.nan,3000)
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F   3000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M   3000.0
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [85]:
import pandas as pd
import numpy as np
data = pd.read_csv('company1.csv')
a=(data["salary"].mean())
data["salary"] = data["salary"].replace(data["salary"].mean())
data["gender"] = data["gender"].replace('G')

print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [116]:
import pandas as pd
import numpy as np
data = pd.read_csv('company1.csv')
data=data.drop_duplicates(subset='EEID')
data['salary']=data['salary'].fillna(5)
data['gender']=data['gender'].fillna('RK')
data['Name']= data['Name'].replace('ayushi','rehan')
data['Name'].replace('rohit','mika', inplace=True)
data['Name']=data['Name'].fillna('cauli')
print(data.to_string())
#data.to_excel("output.xlsx",index=False,title='mika')

    EEID      Name gender   salary
0  EMP01     rehan      F      5.0
1  EMP02      mika      M  25000.0
2  EMP03  pranjali     RK  27000.0
4  EMP05     cauli      M  25000.0
5  EMP06      mika      M      5.0

In [120]:
import pandas as pd 
import numpy as np
data = pd.read_csv('company1.csv')
#data['salary']=data['salary'].replace(np.nan, data['salary'].mean())

print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24500.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24500.0
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [124]:
print(data['salary'].mean()/data['salary'].mode())

0    0.98
Name: salary, dtype: float64

In [143]:
import pandas as pd
data = pd.read_csv('company1.csv')
print(data)
print("")
(print(data.fillna(method='ffill')))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05    ayushi      M  25000.0
5  EMP06     rohit      M  25000.0
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [146]:
data['salary']=data['salary'].mean()
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24500.0
1  EMP02     rohit      M  24500.0
2  EMP03  pranjali    NaN  24500.0
3  EMP01    ayushi      F  24500.0
4  EMP05       NaN      M  24500.0
5  EMP06     rohit      M  24500.0
6  EMP02     rohit      M  24500.0
7  EMP02     rohit      M  24500.0

In [155]:
data['gender']=data['gender'].fillna('O')
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24500.0
1  EMP02     rohit      M  24500.0
2  EMP03  pranjali      O  24500.0
3  EMP01    ayushi      F  24500.0
4  EMP05       NaN      M  24500.0
5  EMP06     rohit      M  24500.0
6  EMP02     rohit      M  24500.0
7  EMP02     rohit      M  24500.0

In [165]:
import pandas as pd
data = pd.read_csv('company1.csv')
data['salary']=data['salary'].fillna(data['salary'].mean())
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24500.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24500.0
6  EMP02     rohit      M  25000.0
7  EMP02     rohit      M  25000.0

In [181]:
import pandas as pd 
data = pd.read_excel('ESD.xlsx')
 
data.loc[(data["Bonus %"]==0), "GetBonus"] = 'no bonus'
data.loc[(data["Bonus %"]>0 , "GetBonus")]= 'bonus'
data.loc[data["Annual Salary"] > 100000, "Seniority"] = 'Senior'
data.loc[data["Annual Salary"]==99975, "Seniority"]='TargetA'
print(data.head())

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date  GetBonus Seniority
0     0.15  United States    Seattle 2021-10-16     bonus    Senior
1     0.00          China  Chongqing        NaT  no bonus   TargetA
2     0.20  United States    Chicago        NaT     bonus    Senior
3     0.07  United States    Chicago        NaT     bonus       NaN
4     0.00  United States    Phoenix        NaT  no bonus       NaN

In [201]:
import pandas as pd 
data = pd.read_excel('practice_1.xlsx')
print(data)
data["Full Name"]=data["First name"].str.lower()+ " "+data["Last Name"].str.upper()
# data["Salary Bonus"]=data["Salary"]+data["Salary"].mean()
data["Salary Bonus"]=data["Salary"]+100
print(data)

  First name  Last Name  Salary EEID
0       ross  tribbiani    2000   E1
1     rachel      bingo    2000   E2
2     monica      singo    1655   E7
3      joey       lingo   56481   E8
4   chandler      jingo    6519   E4
5     phoebe        chu   23423   E5
  First name  Last Name  Salary EEID       Full Name  Salary Bonus
0       ross  tribbiani    2000   E1  ross TRIBBIANI          2100
1     rachel      bingo    2000   E2    rachel BINGO          2100
2     monica      singo    1655   E7    monica SINGO          1755
3      joey       lingo   56481   E8     joey  LINGO         56581
4   chandler      jingo    6519   E4  chandler JINGO          6619
5     phoebe        chu   23423   E5      phoebe CHU         23523

In [212]:
import pandas as pd 
data = pd.read_excel('practice_1.xlsx')
data["Full"]=data["First name"].str.capitalize()+ "  " + data["Last Name"].str.upper()
data.loc[data["Salary"]>=10000,"Position Type"]="Senior"
data.loc[(data["Salary"] <10000,"Position Type")]='Not Senior'
print(data)

  First name  Last Name  Salary EEID             Full Position Type
0       ross  tribbiani    2000   E1  Ross  TRIBBIANI    Not Senior
1     rachel      bingo    2000   E2    Rachel  BINGO    Not Senior
2     monica      singo    1655   E7    Monica  SINGO    Not Senior
3      joey       lingo   56481   E8     Joey   LINGO        Senior
4   chandler      jingo    6519   E4  Chandler  JINGO    Not Senior
5     phoebe        chu   23423   E5      Phoebe  CHU        Senior

In [216]:
import pandas as pd 
data = pd.read_excel('practice_1.xlsx')
print(data)
print("")
data['Bonus']=(data['Salary']/100)*20
print(data)

  First name  Last Name  Salary EEID
0       ross  tribbiani    2000   E1
1     rachel      bingo    2000   E2
2     monica      singo    1655   E7
3      joey       lingo   56481   E8
4   chandler      jingo    6519   E4
5     phoebe        chu   23423   E5

  First name  Last Name  Salary EEID    Bonus
0       ross  tribbiani    2000   E1    400.0
1     rachel      bingo    2000   E2    400.0
2     monica      singo    1655   E7    331.0
3      joey       lingo   56481   E8  11296.2
4   chandler      jingo    6519   E4   1303.8
5     phoebe        chu   23423   E5   4684.6

In [223]:
data = {"Months":['Janauary','Feb','Mar','Apr']}
ndata= pd.Series(data['Months'])
print(ndata)

0    Janauary
1         Feb
2         Mar
3         Apr
dtype: object

In [230]:
data = {"Months":['January','February','March','April']}
ndata= pd.DataFrame(data)
print(ndata)

def extract(value):
    return value[0:3]

ndata['Short Months'] = ndata["Months"].map(extract)
print(ndata)

     Months
0   January
1  February
2     March
3     April
     Months Short Months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr

In [242]:
import pandas as pd 
data = pd.read_excel('ESD.xlsx')
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [247]:

import pandas as pd 
data = pd.read_excel('ESD.xlsx')
gp=data.groupby(['Department','Gender']).agg({"EEID":"count"})
print(gp)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [257]:

import pandas as pd 
data = pd.read_excel('ESD.xlsx')
gp=data.groupby(['Country','Gender']).agg({"Annual Salary":"min", "Age":"min"})
print(gp)

                      Annual Salary  Age
Country       Gender
Brazil        Female          44735   25
              Male            40316   26
China         Female          46833   25
              Male            41728   25
United States Female          40124   25
              Male            40063   25

In [265]:
#groups and joins 

import pandas as pd 
data1={"Empl ID":('e010','eo11','eo22','eo33')
      ,"Names":("mika",'tika','lika','sika')
      ,"Age":(12,14,25,63)}
data2={"Empl ID":('e010','eo11','eo22','eo33')
     ,"Salary": (2000,3234,234234,234121)}
df1= pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print(df2)
merge=(pd.merge(df1,df2, on = "Empl ID"))
print(merge)

  Empl ID Names  Age
0    e010  mika   12
1    eo11  tika   14
2    eo22  lika   25
3    eo33  sika   63

  Empl ID  Salary
0    e010    2000
1    eo11    3234
2    eo22  234234
3    eo33  234121
  Empl ID Names  Age  Salary
0    e010  mika   12    2000
1    eo11  tika   14    3234
2    eo22  lika   25  234234
3    eo33  sika   63  234121

In [277]:
#groups and joins 

import pandas as pd 
data1={"Empl ID":('e010','eo11','eo22','eo33')
      ,"Names":("mika",'tika','lika','sika')
      ,"Age":(12,14,25,63)}
data2={"Empl ID":('e010','eo07','eo22','eo08')
     ,"Salary": (2000,3234,234234,234121)}
df1= pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print(df2)
merge=(pd.merge(df1,df2, on = "Empl ID", how= 'left'))
print(merge)

  Empl ID Names  Age
0    e010  mika   12
1    eo11  tika   14
2    eo22  lika   25
3    eo33  sika   63

  Empl ID  Salary
0    e010    2000
1    eo07    3234
2    eo22  234234
3    eo08  234121
  Empl ID Names  Age    Salary
0    e010  mika   12    2000.0
1    eo11  tika   14       NaN
2    eo22  lika   25  234234.0
3    eo33  sika   63       NaN

In [282]:
#groups and joins 

import pandas as pd 
data1={"Empl ID":('e01','e02','e03','e04')
      ,"Names":("mika",'tika','lika','sika')
      ,"Age":(12,14,25,63)}
data2={"Empl ID":('e01','e02','e03','e08')
     ,"Salary": (2000,3234,234234,234121)}
df1= pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print(df2)
merge=(pd.merge(df1,df2, on = "Empl ID", how= 'inner'))
print(merge)

  Empl ID Names  Age
0     e01  mika   12
1     e02  tika   14
2     e03  lika   25
3     e04  sika   63

  Empl ID  Salary
0     e01    2000
1     e02    3234
2     e03  234234
3     e08  234121
  Empl ID Names  Age  Salary
0     e01  mika   12    2000
1     e02  tika   14    3234
2     e03  lika   25  234234

In [291]:
#groups and joins 

import pandas as pd 
data1={"Empl ID":('e01','e02','e03','e04')
      ,"Names":("mika",'tika','lika','sika')
      ,"Age":(12,14,25,63)}
data2={"Empl ID":('e01','e02','e03','e08')
     ,"Salary": (2000,3234,234234,234121)}
data1=pd.DataFrame(data1)
data2=pd.DataFrame(data2)
merge=(pd.merge(data1,data2,on="Empl ID",how='inner'))
print(merge)

  Empl ID Names  Age  Salary
0     e01  mika   12    2000
1     e02  tika   14    3234
2     e03  lika   25  234234

In [293]:
#groups and joins 

import pandas as pd 
data1={"Empl ID":('e01','e02','e03','e04')
      ,"Names":("mika",'tika','lika','sika')
      ,"Age":(12,14,25,63)}
data2={"Empl ID":('e01','e02','e03','e08')
     ,"Salary": (2000,3234,234234,234121)}
data1=pd.DataFrame(data1)
data2=pd.DataFrame(data2)
merge=(pd.merge(left=data1,right=data2,on="Empl ID",how='left'))
print(merge)

  Empl ID Names  Age    Salary
0     e01  mika   12    2000.0
1     e02  tika   14    3234.0
2     e03  lika   25  234234.0
3     e04  sika   63       NaN

In [310]:
import pandas as pd 
data1={"Empl ID":('e01','e02','e03','e04')
      ,"Names":("mika",'tika','lika','sika')
      ,"Age":(12,14,25,63)}
data2={"Empl ID":('e05','e06','e07','e08')
      ,"Names":("tuli",'aika','hika','dika')
      ,"Age":(65,14,15,93)}
data1=pd.DataFrame(data1)
data2=pd.DataFrame(data2)
print(pd.concat([data1,data2]))

  Empl ID Names  Age
0     e01  mika   12
1     e02  tika   14
2     e03  lika   25
3     e04  sika   63
0     e05  tuli   65
1     e06  aika   14
2     e07  hika   15
3     e08  dika   93

In [316]:
#compare dataframes panda @ 1:18:07
import pandas as pd 
data1= {'Fruits':('Apple','Banana','Cauliflower')
        ,'Type':('Fruit','Fruit','Vegetable')
        ,'Price':(3,4,5)}
data2={'Fruits':('Apple','Banana','Cauliflower')
      ,'Location':('USA','USA','France')}
data1=pd.DataFrame(data1)
data2=pd.DataFrame(data2)
# print(pd.merge(data1,data2,on='Fruits',how='inner'))
print(pd.concat([data1,data2]))

        Fruits       Type  Price Location
0        Apple      Fruit    3.0      NaN
1       Banana      Fruit    4.0      NaN
2  Cauliflower  Vegetable    5.0      NaN
0        Apple        NaN    NaN      USA
1       Banana        NaN    NaN      USA
2  Cauliflower        NaN    NaN   France

In [350]:
import pandas as pd
data = {"Fruits":['mango','apples','banana','papaya'],
       "Price":[100,150,200,53],
       "Quantity":[15,150,12,32]}
data=pd.DataFrame(data)
print(data)
print()
data2=data.copy()
print(data2)
print()
data2.loc[0,"Price"]=120
data2.loc[1,"Price"]=175
data2.loc[2,"Price"]=100

data2.loc[0,"Quantity"]=1
data2.loc[1,"Quantity"]=1
data2.loc[2,"Quantity"]=1

print(data2)
print()

v=(data.compare(data2,keep_equal=True))
print(v)

v.to_csv('rehantest.csv',index=False)

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150       150
2  banana    200        12
3  papaya     53        32

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150       150
2  banana    200        12
3  papaya     53        32

   Fruits  Price  Quantity
0   mango    120         1
1  apples    175         1
2  banana    100         1
3  papaya     53        32

  Price       Quantity
   self other     self other
0   100   120       15     1
1   150   175      150     1
2   200   100       12     1

In [366]:
#pandas - pirvoting and melting dataframes 1:28:39
import pandas as pd 
dict = {"keys":('k1','k2','k3','k2')
       ,"name":('John','Ben','Reea','few')
       ,"Houses":('red','green','yellow','blue')
       ,'Grades':(3,4,5,6)}

data = pd.DataFrame(dict)
print(data)

print()
# print(data.pivot(index='keys',columns='name',values=['Grades','Houses']))
print(data.pivot('keys','name',['Houses','Grades']))

  keys  name  Houses  Grades
0   k1  John     red       3
1   k2   Ben   green       4
2   k3  Reea  yellow       5
3   k2   few    blue       6

     Houses                    Grades
name    Ben John    Reea   few    Ben John Reea  few
keys
k1      NaN  red     NaN   NaN    NaN    3  NaN  NaN
k2    green  NaN     NaN  blue      4  NaN  NaN    6
k3      NaN  NaN  yellow   NaN    NaN  NaN    5  NaN

In [375]:
#melting 1:35:04 
import pandas as pd 
dict = {"name":('John','Ben','Reea','Fewa')
       ,"Houses":('red','green','yellow','blue')
       ,'Grades':(3,4,5,6)}

data = pd.DataFrame(dict)
print(data)
print()
print(pd.melt(data, id_vars=['name'],value_vars=["Houses",'Grades'],
              value_name='values',var_name='Houses&Grades'))

   name  Houses  Grades
0  John     red       3
1   Ben   green       4
2  Reea  yellow       5
3  Fewa    blue       6

   name Houses&Grades  values
0  John        Houses     red
1   Ben        Houses   green
2  Reea        Houses  yellow
3  Fewa        Houses    blue
4  John        Grades       3
5   Ben        Grades       4
6  Reea        Grades       5
7  Fewa        Grades       6

In [373]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob'],
    'Math': [90, 80],
    'Science': [85, 88]
}

df = pd.DataFrame(data)

# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')
print(melted_df)

    Name  Subject  Score
0  Alice     Math     90
1    Bob     Math     80
2  Alice  Science     85
3    Bob  Science     88

In [420]:
import pandas as pd 
data1 = ( {'Car':('Toyota','Kia','Hyundai','Lexus')
       ,'Brand':('RAV-4','sorento','santafe','')})
data2 = ( {'Car':('Toyota','Kia','Hyundai','Lexus')
        ,'Price':(23000,26000,24000,0)})
data1= pd.DataFrame(data1)
data2=pd.DataFrame(data2)
print(data1)
print()                
print(data2)

merge=pd.merge(data1,data2, on='Car', how='inner') #remmber to do pd in merge
print(merge)

merge['Make-Model']= merge['Car'].str.capitalize() +  " " + merge['Brand'].str.capitalize()

merge['Brand']=merge['Brand'].replace('','unspecified')
merge['Price']=merge['Price'].replace(0,10000)

merge  = merge[merge['Car'] != 'Lexus']
print(merge)
output=merge.to_csv('carsjoin.csv', index=False) #rember to call the table before doing to_csv
print()
data=merge[merge['Car'].str.contains('a')]

data.drop(data[data["Car"] == "Toyota"].index, inplace=True)


print(data)

       Car    Brand
0   Toyota    RAV-4
1      Kia  sorento
2  Hyundai  santafe
3    Lexus

       Car  Price
0   Toyota  23000
1      Kia  26000
2  Hyundai  24000
3    Lexus      0
       Car    Brand  Price
0   Toyota    RAV-4  23000
1      Kia  sorento  26000
2  Hyundai  santafe  24000
3    Lexus               0
       Car    Brand  Price       Make-Model
0   Toyota    RAV-4  23000     Toyota Rav-4
1      Kia  sorento  26000      Kia Sorento
2  Hyundai  santafe  24000  Hyundai Santafe

       Car    Brand  Price       Make-Model
1      Kia  sorento  26000      Kia Sorento
2  Hyundai  santafe  24000  Hyundai Santafe

In [458]:
import pandas as pd
 
data= {'Make':('Tesla','Tesla','Ford','Maserati')
      ,'Model':('Model 3         ','Cybertruck','   Focus','Gholbi') 
       ,'Date Manufactured':('02/02/2025','02-20-2022','02-20-2022','2-2/2024')
                 }
                  
data=pd.DataFrame(data)


print(data)


print()

data['Model']=data['Model'].str.strip()
data['Date Manufactured']=pd.to_datetime(data['Date Manufactured'])

data['DayofWk']=data['Date Manufactured'].dt.dayofweek

data['Price'] = [2000, 1000, 100, 1000] 
data = data.sort_values(by='Make')  # Sorts the entire DataFrame by 'Make'
data['Model']=data['Model'].replace('Gholbi','Ghilbi')
print(data)

       Make             Model Date Manufactured
0     Tesla  Model 3                 02/02/2025
1     Tesla        Cybertruck        02-20-2022
2      Ford             Focus        02-20-2022
3  Maserati            Gholbi          2-2/2024

       Make       Model Date Manufactured  DayofWk  Price
2      Ford       Focus        2022-02-20        6    100
3  Maserati      Ghilbi        2024-02-02        4   1000
0     Tesla     Model 3        2025-02-02        6   2000
1     Tesla  Cybertruck        2022-02-20        6   1000

In [463]:
import pandas as pd
import openpyxl as op
# url='https://github.com/gitrkpo/data-analysis/blob/main/zz_datasources/ESD.xlsx'
url='https://raw.githubusercontent.com/gitrkpo/data-analysis/main/zz_datasources/ESD.xlsx'
data=pd.read_excel(url)
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [276]:
import pandas as pd 
data = pd.read_csv('company.csv')
data2= {"Name":('ayushi','rohit','pranjali')
       ,"Location":('USA','India','UAE')}
data2=pd.DataFrame(data2)
data=pd.DataFrame(data)
merge  = pd.merge(data,data2,on='Name',how='left')
print(data2)
print(data)
print()
print(merge)

       Name Location
0    ayushi      USA
1     rohit    India
2  pranjali      UAE
   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

   Unnamed: 0      Name gender  salary Location
0           0    ayushi      F   20000      USA
1           1     rohit      M   25000    India
2           2  pranjali      F   27000      UAE

In [ ]:
import pandas as pd 
data = pd.read_excel('ESD.xlsx')

    EEID      Name gender   salary
0  EMP01    ayushi      F      5.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali     RK  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      5.0

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0

C:\Users\Rahan\AppData\Local\Temp\ipykernel_9200\700082840.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.head().fillna({'salary': 5}, inplace=True)

In [79]:
data=(data.drop_duplicates(subset=["EEID"]))

In [55]:
import pandas as pd
data = pd.read_csv("company1.csv")
print(data.dropna())

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0
7  EMP02   rohit      M  25000.0

In [ ]:
data = pd.read_excel()