In [31]:
import pandas as pd 
data = pd.read_csv('dirtydata.csv') #read csv file

data['Calories']=data['Calories'].fillna(data['Calories'].mean()) #Take mean of Blanks

data['Date']=data['Date'].dropna() #drop na in Date
data.loc[data['Duration']>100,'Duration']=75 #Convert anything more than 100 to 75
data = data.dropna(subset=['Date']) #drop NaN in Date
data['Date']=pd.to_datetime(data['Date']) #convert to datetime
data['Duration']=data['Duration'].replace(450,58) #replace 450 wiht 58
 
data[data['Pulse']>100]  #filter Pulse>100
data[['Duration','Date','Pulse']] #specific columns

    Duration       Date  Pulse
0         60 2020-12-01    110
1         60 2020-12-02    117
2         60 2020-12-03    103
3         45 2020-12-04    109
4         45 2020-12-05    117
5         60 2020-12-06    102
6         60 2020-12-07    110
7         75 2020-12-08    104
8         30 2020-12-09    109
9         60 2020-12-10     98
10        60 2020-12-11    103
11        60 2020-12-12    100
12        60 2020-12-12    100
13        60 2020-12-13    106
14        60 2020-12-14    104
15        60 2020-12-15     98
16        60 2020-12-16     98
17        60 2020-12-17    100
18        45 2020-12-18     90
19        60 2020-12-19    103
20        45 2020-12-20     97
21        60 2020-12-21    108
23        60 2020-12-23    130
24        45 2020-12-24    105
25        60 2020-12-25    102
26        60 2020-12-26    100
27        60 2020-12-27     92
28        60 2020-12-28    103
29        60 2020-12-29    100
30        60 2020-12-30    102
31        60 2020-12-31     92